@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@400;600;700&display=swap');

:root {
    /* --header-color: #005555;
    --text-color: #F7FF93;
    --body-color: #f1f5b7;
    --background-color: #F7FF93;
    --link-color: #069A8E; */

    --header-color: #E7F6F2;
    --text-color: #E7F6F2;
    --body-color: #2C3639;
    --background-color: #3F4E4F;
    --link-color: #2C3333;
}

html[data-color-mode='light'] {
    /* --header-color: #E7F6F2;
    --text-color: #E7F6F2;
    --body-color: #2C3639;
    --background-color: #3F4E4F;
    --link-color: #2C3333; */

    --header-color: #005555;
    --text-color: #F7FF93;
    --body-color: #f1f5b7;
    --background-color: #F7FF93;
    --link-color: #069A8E;
}

* {
    margin: 0;
    padding: 0;
}

body{
    font-family:  'Trispace', sans-serif;
    background-color: var(--body-color);
}
.container {
    max-width: 500px;
    margin: 0 auto;
    background-color: var(--background-color);
    height: 20%;
    border-radius: 5px;
}

.profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.profil > img {
    background-color: var(--link-color);
    border-radius: 100%;
}
.profil > h1 {
    color: var(--header-color);
    font-size: 22px;
    padding: 10px;
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link>a {
    text-decoration: none;
    text-align: center;
    background-color: var(--link-color);
    margin: 10px;
    border-radius: 5px;
    color: var(--text-color);
    padding: 10px
}
.link>a:hover{
    text-decoration: none;
    text-align: center;
    background-color: var(--text-color);
    margin: 10px;
    border-radius: 5px;
    color: var(--link-color);
    transition: 0.5s ease-in-out;
}

.footer {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    color: var(--header-color);
}




#darkSwitch{
    position: fixed;
    top: 20px;
    right: 28rem;
    appearance: none;
    -webkit-appearance : none;
    -moz-appearance : none;
    -o-appearance : none;
    width: 40px;
    height: 20px;
    background: var(--link-color);
    border-radius: 22px;
    cursor: pointer;
    outline: none;
}

#darkSwitch::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color:var(--header-color);
    border-radius: 35px;
    top: 2px;
    left: 2px;
    cursor: pointer;
    transition: .3s linear;
}


#darkSwitch:checked + .container{
  background: rgb(19, 18, 18);
  color: var(--header-color);
}

#darkSwitch:checked::before{
    left: 20px;
}

#darkSwitch:checked{
    background: var(--body-color);
}

@media (max-width:992px) {
    .link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 15rem;
    }
    #darkSwitch{
        right: 1rem;
    }
}